     {% for review in reviews %}
        <li class="review-item">
            <div class="review-media">
                <a class="review-avatar" href="#">
                    <img src="{{review.user.profile.profile_image.url}}" alt="review">
                </a>
                <h5 class="review-meta">
                    <a href="{% url 'accounts:profile' %}">{{review.user.username}}</a>
                        <span>{{review.created|date:"F d, Y"}}</span>
                </h5>
            </div>
            <ul class="review-rating">
                <li class="icofont-ui-rating"></li>
                <li class="icofont-ui-rating"></li>
                <li class="icofont-ui-rating"></li>
                <li class="icofont-ui-rating"></li>
                <li class="icofont-ui-rate-blank"></li>
            </ul>
            <p class="review-desc">{{review.review}}</p>
        </li>
{% endfor %}